<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/actualizar-producto.css">
    <title>Actualizacion de productos</title>
</head>
<body>
    <div class="header"> 
        <img src="/img/logo.png" class="logo">
        <h2 class="head">Artesanías las Américas.co</h2>
        <img src="/img/check.png" class="user">
        <h2 class="texto">Inicio administrador</h2>
    </div>
    <section>
    <form action="/actualizacion_madera" method="post">
        <table>
            <tr>
                <th colspan="2"><h2>Actualizacion de productos</h2></th>
            </tr>
            <tr>
                <td>Nombre del producto: </td>
                <td><input type="text" name="txtn" placeholder="Nombre del producto" required></td>
            </tr>
            <tr>
                <td>Descripcion: </td>
                <td><input type="text" name="txtd" placeholder="Descripcion" required></td>
            </tr>
            <tr>
                <td>Valor :</td>
                <td><input type="number" name="txtv" placeholder="Valor" required></td>
            </tr>
            <tr>
                <td>Stock :</td>
                <td><input type="number" name="txts" placeholder="Stock" required></td>
            </tr>  
            <tr>
                <td>Proveedor :</td>
                <td><input type="text" name="txtp" placeholder="Proveedor" required></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Actualizar" name="btn1" class="btn"></td>
            </tr>
        </table>
        </form>
    </section>
    <div class="footer">
        <p class="marca">Desarollado por @DevJs32</p>
        <p class="contactos">Correo: </p>
        <p class="correo"> Artesanias_Americas@gmail.com</p>
        <p class="telefono"> WhatsApp: 3223562765</p>
    </div>
</body>
</html>