<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/catalogo_productos.css">
    <title>Catálogos</title>
</head>
<body>
    <div class="header"> 
        <img src="/img/logo.png" class="logo">
        <h2 class="head">Artesanías las Américas.co</h2>
        <img src="/img/check.png" class="user">
        <h2 class="texto">Ingreso de productos </h2>
    </div>
    <section>
    <table>
        <tr>
            <th colspan="3"><h2 class="title">Seleccione el catalogo para ingresar productos.</h2></th>
        </tr>
        <td><a href="/ingresar_catalogoMadera" class="madera">Madera</a></td>
        <td><a href="/ingresar_catalogoArcilla" class="arcilla">Arcilla</a></td>
        <td><a href="/ingresar_catalogoPiedra" class="piedra">Piedra</a></td>
    </table>
</section>
<div class="footer">
    <p class="marca">Desarollado por @DevJs32</p>
    <p class="contactos">Correo: </p>
    <p class="correo"> Artesanias_Americas@gmail.com</p>
    <p class="telefono"> WhatsApp: 3223562765</p>
</div>
</body>
</html>