<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta de productos</title>
</head>
<body>
    <header> 
        <h2 class="head">Artesanías las Américas.co</h2>
    </header>
    <section>
    <table>
        <tr>
            <th colspan="3"><h2>Catalogos con productos registrados</h2></th>
        </tr>
        <tr>
            <td><a href="/consulta_madera_comprador">Madera</a></td>
            <td><a href="/consulta_arcilla_comprador">Arcilla</a></td>
            <td><a href="/consulta_piedra_comprador">Piedra</a></td>
        </tr>
    </table>
</section>
    <style type="text/css">
        body {
            margin: 0;
            padding: 0;
            font-family: helvetica;
            background-color: #f5d17d;
        }
        header{
            margin: 0 auto;
            background-color: ghostwhite;
            border-radius: 20px;
            width: 90%;
        }
        .head{
            text-align: center;
        }
        section{
             background-color: whitesmoke;
             width: 90%;
             height: 500px;
             margin: 0 auto;
             padding-top: 20px;
             border-radius: 20px;
             text-align: center;
        }
        table{
             margin: 0 auto;
        }
        a {
            text-decoration: none;
            font-size: 20px;
            font-weight: 800;
            padding: 12px;
            color: black;
            border-radius: 30px;
        }
    </style>
</body>
</html>