<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/eliminar-prod.css">
    <title>Eliminar producto</title>
</head>
<body>
    <div class="header"> 
        <img src="/img/logo.png" class="logo">
        <h2 class="head">Artesanías las Américas.co</h2>
        <img src="/img/check.png" class="user">
        <h2 class="texto">Inicio administrador</h2>
    </div>
    <div class="eliminar">
    <table>
        <tr>
            <th colspan="2"><h2 class="pregunta">Esta seguro de eliminar este producto?</h2></th>
        </tr>
        <tr>
            <td><a href="/confirmaEliminarProducto" class="si">Si</a></td>
            <td><a href="/devolverProd" class="no">No</a></td>
        </tr>
    </table>
</div>
    <div class="footer">
        <p class="marca">Desarollado por @DevJs32</p>
        <p class="contactos">Correo: </p>
        <p class="correo"> Artesanias_Americas@gmail.com</p>
        <p class="telefono"> WhatsApp: 3223562765</p>
    </div>
</body>
</html>