<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header> 
        <h2 class="head">Artesanías las Américas.co</h2>
    </header>
    <table>
        <tr>
            <th colspan="2"><h2>Esta seguro de eliminar este producto?</h2></th>
        </tr>
        <tr>
            <td><a href="/confirmaEliminarProducto" class="si">Si</a></td>
            <td><a href="/devolverProd" class="no">No</a></td>
        </tr>
    </table>
</body>
<style type="text/css">
    body {
        margin: 0;
        padding: 0;
        font-family: helvetica;
        background-color: whitesmoke;
    }
    header{
        margin: 0 auto;
        background-color: #f5d17d;
        border-radius: 20px;
        width: 90%;
    }
    .head{
        text-align: center;
    }
    section{
         background-color: whitesmoke;
         width: 90%;
         height: 500px;
         margin: 0 auto;
         padding-top: 20px;
         border-radius: 20px;
         text-align: center;
         border: 1px solid;
    }
    table{
         margin: 0 auto;
         padding: 15px;
         border: 3px solid black;
         border-radius: 15px;
    }
    input {
        border-radius: 12px;
    }
    td {
        padding-left: 15px;
        text-align: center;
    }
    a {
        text-decoration: none;
        font-size: 20px;
        font-weight: 800;
        padding: 12px;
        color: whitesmoke;
        border-radius: 25px;
    }
    .si {
        background-color: green;
        padding: 0% 75px;
    }
    .no {
        background-color: red;
        padding: 0% 75px;
    }
    .btn {
    background-color: #adc9c7;
    color: white;
    font-size: 15px;
    font-weight: 800;
    padding: 5px;
    border-radius: 19px;
    border: 1px solid #adc9c7;
    }
</style>
</html>