
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artesanias las americas.com</title>

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />

    <!-- custom css file link  -->
    <link rel="stylesheet" href="/css/home_page.css">

</head>
<body>
    
<!-- header section Artesanias   --> 

<header class="header">

    <a href="#" class="logo"> 
    <nav class="navbar">
        <div id="nav-close" class="fas fa-times"></div>
        <a href="/ingresar">Iniciar sesion</a>
        <a href="/frmRegistroUser">Registarse</a>
    </nav>

    <div class="icons">
        <div id="menu-btn" class="fas fa-bars"></div>
    </div>

</header>

<!-- header section ends -->

<!-- search form  -->

<div class="search-form">

    <div id="close-search" class="fas fa-times"></div>

    <form action="">
        <input type="search" name="" placeholder="Escribe aqui" id="search-box">
        <label for="search-box" class="fas fa-search"></label>
    </form>
</div>

<!-- home section starts  -->

<section class="home" id="home">

    <div class="swiper home-slider">

        <div class="swiper-wrapper">

            <div class="swiper-slide">
                <div class="box" style="background: url(/img/mochilas.jpg) no-repeat;">
                    <div class="content">
                        <span><!-- never stop --></span>
 
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>

<!-- home section ends -->


<!-- footer section starts  -->

<section class="footer">

    <div class="box-container">

        <div class="box">
            <h3>Contactanos</h3>
            <a href="#"> <i class="fas fa-phone"></i> 3223562765 </a>
            <a href="#"> <i class="fas fa-envelope"></i> artesaniasAmericas@gmail.com </a>
            <a href="#"> <i class="fas fa-map"></i> Colombia, San Agustín-huila</a>
        </div>

        <div class="box">
            <h3>Tambien nos puedes encontrar</h3>
            <a href="#"> <i class="fab fa-facebook-f"></i> Artesanías_Américas </a>
            <a href="#"> <i class="fab fa-twitter"></i> Artesanías_Américas </a>
            <a href="#"> <i class="fab fa-instagram"></i> @Artesanías_Américas </a>
            <a href="#"> <i class="fab fa-github"></i> Proyecto-artesanías </a>
        </div>

    </div>

    <div class="credit"><span>Artesanias</span> | las americas</div>

</section>

<!-- footer section ends -->



<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

<!-- custom js file link  -->
<script src="/js/main-menu.js"></script>

</body>
</html>