<!DOCTYPE html>
<html>
<head>
	<title>Artesanías las Américas.co</title>
    <link rel="stylesheet" href="/css/home_page.css">
</head>
<body>
    <div class="header"> 
        <img src="/img/logo.png" class="logo">
        <h2 class="head">Artesanías las Américas.co</h2>
    </div>
    <section>
        <nav>
            <ul>
                <li><a href="/registrarse">Registrarse</a></li>
                <li><a href="/ingresar">Ingresar</a></li>
            </ul>
        </nav>
    </section>
</body>
</html>