<!DOCTYPE html>
<html>
<head>
    <link re="icon" href="/img/logo.png">
	<title>Artesanías las Américas.co</title>
    <link rel="stylesheet" href="/css/home_page.css">
</head>
<body>
    <div class="header"> 
        <img src="/img/logo.png" class="logo">
        <h2 class="head">Artesanías las Américas.co</h2>
        <a class="registro" href="/registrarse">Registro</a>
        <a class="ingresar" href="/ingresar">Ingresar</a>
    </div>
    <div class="content">
        <img src="/img/artesana.jpg" class="img-principal">
    </div>
    <div class="footer">
        <p class="marca">Desarollado por @DevJs32</p>
        <p class="contactos">Correo: </p>
        <p class="correo"> Artesanias_Americas@gmail.com</p>
        <p class="telefono"> WhatsApp: 3223562765</p>
    </div>
</body>
</html>