<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/indexAr.css">
    <title>Inicio artesano</title>
</head>
<body>
    <header> 
        <h2 class="head">Artesanías las Américas.co</h2>
    </header>
    <br>
    <div class="menu">
        <nav>
            <ul>
                <li><a href="/perfil_artesano">Perfil</a></li>
            </ul>
            <br>
            <ul>
                <li><a href="/ingresa_prod">Ingresar productos</a></li>
            </ul>
            <br>
            <ul>
                <li><a href="/consulta_prod">Consultar productos</a></li>
                <li><a href="/consulta_compras">Consultar compras</a></li>
            </ul>
            <br>
            <ul>
                <li><a href="/salir">Salir</a></li>
            </ul>
        </nav>
    </div>
    <div class="content">

    </div>
</body>
</html>