<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/indexAr.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/'-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles.css">
    <title>Inicio artesano</title>
</head>
<body>
    <div class="header"> 
        <img src="/img/logo.png" class="logo">
        <h2 class="head">Artesanías las Américas.co</h2>
        <img src="/img/check.png" class="user">
        <h2 class="texto">Inicio artesano</h2>
    </div>
    <br>
    <div class="main-content">
        <header class="main-header">
            <nav id="nav" class="main-nav">
              <div class="nav-links">
                <a class="link-item" href="/perfil_artesano">Perfil</a>
                <a class="link-item" href="/ingresa_prod">Ingresar productos</a>
                <a class="link-item" href="/consulta_prod">Consultar productos</a>
                <a class="link-item" href="/consulta_compras">Consultar compras</a></a>
                <a class="link-item" href="#">Facturacion</a>
                <a class="link-item" href="#">Reportes</a>
                <a class="link-item" href="/salir">Salir</a></a>
              </div>
            </nav>
            <button id="button-menu" class="button-menu">
              <span></span>
              <span></span>
              <span></span>
            </button>
          </header><br>
    </div>
    <div class="footer">
        <p class="marca">Desarollado por @DevJs32</p>
        <p class="contactos">Correo: </p>
        <p class="correo"> Artesanias_Americas@gmail.com</p>
        <p class="telefono"> WhatsApp: 3223562765</p>
    </div>
    <script src="/js/script.js"></script>
</body>
</html>