<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/indexAd.css">
    <title>Inicio administrador</title>
</head>
<body>
    <div class="header"> 
        <img src="/img/logo.png" class="logo">
        <h2 class="head">Artesanías las Américas.co</h2>
        <img src="/img/check.png" class="user">
        <h2 class="texto">Inicio administrador</h2>
    </div>
    <br>
    <div class="main-content">
        <nav class="nav">
            <ul>
                <li><a href="/ingresa_prod">Ingresar productos</a></li>
                <li><a href="/ingresa_user">Ingresar usuarios</a></li>
                <li><a href="/ingresa_catalogo">Ingresar catálogo</a></li>
                <li><a href="/consulta_prod">Consultar productos</a></li>
                <li><a href="/consulta_user">Consultar usuarios</a></li>
                <li><a href="/consulta_compras">Consultar compras</a></li>
                <li><a href="/consulta_envios">Consultar envios</a></li>
                <li><a href="#">Facturacion</a></li>
                <li><a href="#">Reportes</a></li>
                <li><a href="/salir">Salir</a></li>
            </ul>
        </nav>
        <img src="/img/artesania12.jpeg" class="img">
</div>
    <div class="footer">
        <p class="marca">Desarollado por @DevJs32</p>
        <p class="contactos">Correo: </p>
        <p class="correo"> Artesanias_Americas@gmail.com</p>
        <p class="telefono"> WhatsApp: 3223562765</p>
    </div>
</body>
</html>