<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/ingresar.css">
    <title>Ingreso</title>
</head>
<body>
    <div class="header"> 
        <img src="/img/logo.png" class="logo">
        <h2 class="head">Artesanías las Américas.co</h2>
    </div>
    <section>
    <form action="/ingreso" method="post">
        <table>
            <tr>
                <th colspan="2"><h2 class="titulo">Ingreso de usuarios</h2></th>
            </tr>
            <tr>
                <td>Tipo de usuario: </td>
                <td><select name="txttype" required>
                    <option>Seleccione el tipo de usuario</option>
                    <option value="comprador">Comprador</option>
                    <option value="artesano">Artesano</option>
                    <option value="administrador">Administrador</option>
                </select></td>
            </tr>
            <tr>
                <td>Cedula: </td>
                <td><input type="text" name="txtc" placeholder="cedula" required></td>
            </tr>
            <tr>
                <td>Contraseña: </td>
                <td><input type="password" name="txtpass" placeholder="contraseña" required></td>
            </tr>
            <tr>
                <br>
                <td colspan="2"><input type="submit" value="Ingresar" name="btn2" class="btn"></td>
            </tr>
        </table>
    </form><br><br><br>
</section>
<div class="footer">
    <p class="marca">Desarollado por @DevJs32</p>
    <p class="contactos">Correo: </p>
    <p class="correo"> Artesanias_Americas@gmail.com</p>
    <p class="telefono"> WhatsApp: 3223562765</p>
</div>
</body>
</html>