<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/ingresar.css">
    <title>Ingreso</title>
</head>
<body>
    <div class="header"> 
        <img src="/img/logo.png" class="logo">
        <h2 class="head">Artesanías las Américas.co</h2>
    </div>
    <div class="container">
        <div class="screen">
            <div class="screen__content">
                <form class="login" action="/ingreso" method="post">
                    <div class="login__field">
                        <tr>
                            <td>Tipo de usuario: </td>
                            <select name="txttype" required>
                                <option>Seleccione el tipo de usuario</option>
                                <option value="comprador">Comprador</option>
                                <option value="artesano">Artesano</option>
                                <option value="administrador">Administrador</option>
                            </select>
                        </tr>
                    </div>
                    <div class="login__field">
                        <i class="login__icon fas fa-user"></i>
                        <input type="text" class="login__input" placeholder="Identificacion" required>
                    </div>
                    <div class="login__field">
                        <i class="login__icon fas fa-lock"></i>
                        <input type="password" class="login__input" placeholder="Contraseña" required>
                    </div>
                    <button class="button login__submit">
                        <span class="button__text"> Ingresar </span>
                        <i class="button__icon fas fa-chevron-right"></i>
                    </button>				
                </form>
            </div>
            <div class="screen__background">
                <span class="screen__background__shape screen__background__shape4"></span>
                <span class="screen__background__shape screen__background__shape3"></span>		
                <span class="screen__background__shape screen__background__shape2"></span>
                <span class="screen__background__shape screen__background__shape1"></span>
            </div>		
        </div>
    </div>
</body>
</html>