<!DOCTYPE html>
<html>
<head>
	<title>Registro de usuarios</title>
    <link rel="stylesheet" href="/css/registrarse.css">
</head>
    <div class="header"> 
        <img src="/img/logo.png" class="logo">
        <h2 class="head">Artesanías las Américas.co</h2>
    </div>
    <body>
    <div class="frm">
        <form action="/registro" method="post" class="formulario">
            <table>
                <tr>
                    <h2 class="titulo">Registro de usuarios</h2>
                </tr>
                <tr>
                    <td>Tipo de usuario: </td>
                    <td><select name="txttype" required>
                        <option>Seleccione el tipo de usuario</option>
                        <option value="comprador">Comprador</option>
                        <option value="artesano">Artesano</option>
                        <option value="administrador">Administrador</option>
                    </select></td>
                </tr>
                <tr>
                    <td>Cedula: </td>
                    <td><input type="text" name="txtc" placeholder="Cedula" required></td>
                </tr>
                <tr>
                    <td>Nombre: </td>
                    <td><input type="text" name="txtn" placeholder="Nombre" required></td>
                </tr>
                <tr>
                    <td>Numero telefónico: </td>
                    <td><input type="text" name="txtnum" placeholder="Numero telefónico" required></td>
                </tr>
                <tr>
                    <td>Direccion: </td>
                    <td><input type="text" name="txtd" placeholder="Direccion" required></td>
                </tr>
                <tr>
                    <td>Correo electrónico: </td>
                    <td><input type="email" name="txtcorreo" placeholder="Correo" required></td>
                </tr>
                <tr>
                    <td>Contraseña: </td>
                    <td><input type="password" name="txtpass" placeholder="Contraseña" required></td>
                </tr>
                <tr>
                    <td class="boton"><input type="submit" value="Registrar" name="btn1" class="btn"></td>
                </tr>
            </table>
        </form> 
    </div>
    <div class="footer">
        <p class="marca">Desarollado por @DevJs32</p>
        <p class="contactos">Correo: </p>
        <p class="correo"> Artesanias_Americas@gmail.com</p>
        <p class="telefono"> WhatsApp: 3223562765</p>
    </div>
</body>
</html>