<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/separarProd.css">
    <title>Separar producto</title>
</head>
<body>
    <div class="header"> 
        <img src="/img/logo.png" class="logo">
        <h2 class="head">Artesanías las Américas.co</h2>
        <img src="/img/check.png" class="user">
        <h2 class="texto">Arcilla </h2>
    </div>
    <section>
    <h2>Sistema de separado</h2><br>
    <h3>Para poder acceder a este sistema, debe hacer un aporte del 50% del precio total del producto. Después de realizar el pago del aporte, usted tendrá una (1) semana para proporcionar el porcentaje restante, de lo contrario, el producto queda en venta nuevamente y no se responde por dinero.</h3><br>
    <button class="boton"><p>Proceder al pago</p></button>
</section>
<div class="footer">
    <p class="marca">Desarollado por @DevJs32</p>
    <p class="contactos">Correo: </p>
    <p class="correo"> Artesanias_Americas@gmail.com</p>
    <p class="telefono"> WhatsApp: 3223562765</p>
</div>
</body>
</html>