.header{
    background-color: rgb(59,59,59) ;
    width: 100%;
    height: 95px;
    top: 0;
    left: 0;
    z-index: 8;
    position: fixed;
    display: grid;
    grid-template:"empty     logo    head    user  texto  " auto/
                     60px    140px   280px  60px  300px   ;
}
.head{
    grid-area: head;
    text-align: center;
    color: rgb(245, 209, 125);
}
.logo {
    grid-area: logo;
    width: 132px;
    height: 82px ;
    border-radius: 50px;
    padding: 5px;
}
.user {
    grid-area: user;
    width: 90%;
    height: 60%;
}
.texto {
    grid-area: texto;
    font-size: 19px;
    font-weight: 700;
    color: rgb(245, 209, 125);
}
h2 {
  color: white;
  text-align: center;
}
table {
  background-color: gray;
  border-radius: 10px;
  margin: 5px;
}
th {
  background-color: green;
  color: white;
}
a {
  color: black;
  text-decoration: none;
}
label {
  color: white;
}
input{
  background-color: gray;
}
.btn-success {
  padding: 5px;
}
header{
	margin: auto;
    background-color: whitesmoke;
    border-radius: 20px;
    width: 91%;
    text-align: right;
}
body {
    background-color: rgb(59,59,59);
    margin: 0;
    padding: 0;
    font-family: helvetica;
}
.main-content {

    width: 100%;
    height: 560px;
    background-color: rgb(59,59,59);
    padding-top: 95px;
    text-align: center;
}
.img {
    width: 80%;
    height: 500px;
    margin: 0 auto;
}
/* li{
    border-radius: 7px;
    padding: 3px;
    display: block;
    margin: 15px;
    width: 100%;
} */
/* a {
    list-style: none;
    text-decoration: none;
    background-color: green;
    color: white;
    padding: 8px;
    border-radius: 15px;
    font-weight: 550;
} */
* {
  margin: 0;
  padding: 0;
}

.main-header {
  height: 50px;
  display: flex;
  justify-content: right;
  align-items: center;
  background-color: transparent;
  padding: 0 0.4rem;
  text-align: right;
}

.main-logo {
  color: black;
  font-size: 32px;
  text-decoration: none;
}

.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  margin-left: -100%;
  transition: all 0.2s linear;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
}

.main-nav.show {
  margin-left: 0;
}

.nav-links {
  background-color: rgb(59,59,59);
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
  align-items: center;
  justify-content: flex-start;
}

.link-item {
  margin-top: 2rem;
  color: white;
  text-decoration: none;
  font-weight: bold;
  position: relative;
}

.link-item::after {
  position: absolute;
  content: "";
  background-color: rgb(245, 209, 125);
  bottom: -5px;
  left: 0;
  width: 0%;
  height: 3px;
  transition: 0.3s ease all;
}

.link-item:hover::after {
  width: 100%;
}

.button-menu {
  z-index: 200;
  width: 40px;
  height: 40px;
  border: none;
  display: flex;
  background: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: transparent;
}

.button-menu span {
  width: 37px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #444444;
  border-radius: 3px;
  transform-origin: 4px 0px;
  transition: all 0.2s linear;

}

.button-menu.close span {
  opacity: 1;
  transform: rotate(45deg) translate(0px, 0px);
  background: rgb(59,59,59);
}

.button-menu.close span:nth-child(2) {
  transform: rotate(-45deg) translate(-8px, 5px);
}

.button-menu.close span:nth-child(3) {
  display: none;
}

@media screen and (min-width: 4000px) {
  .button-menu {
    display: none;
  }

  .main-logo {
    flex-basis: 30%;
  }

  .main-nav {
    position: static;
    margin-left: 0;
    flex-basis: 70%;
    height: 100%;
  }

  .nav-links {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    background: rgb(59,59,59);
  }

  .link-item {
    display: inline-block;
    margin-top: 0;
    margin-right: 2rem;
  }
}
.footer{
    background-color: rgb(59,59,59) ;
    width: 100%;
    height: 95px;
    top: 0;
    left: 0;
    border-top: 3px solid rgb(245, 209, 125);
    z-index: 9; 
    display: grid;
    grid-template:"empty     marca   empty2     contactos  correo    empty3      telefono   empty4" auto/
                     60px    140px   100px     100px      180px       200px      290px       200px ;
} 
.marca {
    grid-area: marca;
    font-size: 15px;
    font-weight: 700;
    color: white;
    text-align: center;
}
.contactos {
    grid-area: contactos;
    font-size: 15px;
    font-weight: 700;
    color: rgb(245, 209, 125);
    text-align: center;
}
.correo {
    grid-area: correo;
    font-size: 15px;
    font-weight: 700;
    color: rgb(245, 209, 125);
    text-align: center;
}
.telefono {
    grid-area: telefono;
    font-size: 15px;
    font-weight: 700;
    color: rgb(245, 209, 125);
    text-align: center;
}