body {
    margin: 0;
    padding: 0;
    font-family: helvetica;
    background-color: #f5d17d;
}
header{
    margin: 0 auto;
    background-color: ghostwhite;
    border-radius: 20px;
    width: 90%;
}
.head{
    text-align: center;
}
td {
    margin: 5px;
}
input {
    border-radius: 12px;
}
select {
    border-radius: 12px;
}
section{
background-image: url("../img/artesaniabarro.jpg");
background-size: cover;
background-repeat: no-repeat;
width: 90%;
height: 500px;
margin: 0 auto;
padding-top: 20px;
border-radius: 20px;
text-align: center;
justify-content: center;
}
table{
margin: 0 auto;
}
.btn {
background-color: #adc9c7;
color: white;
font-size: 15px;
font-weight: 800;
padding: 5px;
border-radius: 19px;
border: 1px solid #adc9c7;
}
form {
    background-color: rgb(255, 255, 255, .5);
    width: 40%;
    height: 50%;
    border-radius: 20px;
    margin: 90px auto;
}