body {
    margin: 0;
    padding: 0;
    font-family: helvetica;
    background-image:url("../img/artesania15.jpeg") ;
}
input {
    border: 1px solid;
    border-radius: 12px;
}
select {
    border-radius: 12px;
}
section{
margin-top: 80px;
background-color: rgb(245, 209, 125,.85);
width: 90%;
height: 400px;
margin: 0 auto;
padding-top: 20px;
border-radius: 20px;
text-align: center;
}
table{
margin: 0 auto;
}
.btn {
background-color: #adc9c7;
color: white;
font-size: 15px;
font-weight: 800;
padding: 5px;
border-radius: 19px;
border: 1px solid #adc9c7;
}
header {
    background-color: rgb(245, 209, 125,.85);  
    margin: 0 auto;
    width: 90%;
    height: 50px;
    text-align: center;
    border-radius: 20px;
}
